.fa {
  padding: 10px;
    text-align: center;
    text-decoration: none;
    color: $nav-color;

  }
  .about-me{
      text-align: center;
      h1{
          padding-bottom: 30px;
          
      }
      img{
        width:40%; height:40%;
        border-radius: 50%;
      }
  }
  

  .fa:hover {
    opacity: 0.7;
  }
  
