

.about-me{
      text-align: center;
      h1{
          padding-bottom: 30px;
          font-size: 72px;
      }
      img{
        width:40%; 
        height:40%;
        border-radius: 50%;
      }
  }
  

  .fa:hover {
    opacity: 0.7;
  }

  
  

@media (max-width: 767.98px) {

  .about-me h1{
    font-size: 25px;
  }

  .about-me img{
    width: 100%;
    margin-bottom: 25px;
  }

  .about_main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-me{
    width: 70%;
  }

  .about-description{
    font-size: 16px;
  }
}