.contact_section_img img{
  width: 50%;
  margin: 40px 0px;
  border-radius:250px;
}

.contact_section_img{
  display: flex;
  justify-content: center;
}

.contact_section_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.name{
  color: $font-color;
  font-size: 72px;
}

.email{
  font-size: $font-size;
  color: $font-color;
}

.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 767.98px) {

  .contact_section_info{
    text-align: center;
  }

  .contact_section_img img{
    width: 70%;

  }

  .name{
    font-size: 25px;
    margin: 25px 0px;
  }
}