.gallery_section{
    display: flex;
    flex-direction: table-row;
    flex-wrap: wrap;
    justify-content: center;
}
.instagram-media{
    margin: 20px 20px !important;
    flex: 50% !important;
    width: 100px !important;
}

@media (max-width: 767.98px) {
    .instagram-media{
    margin: 2px !important;
    }

    .about-me{
        font-size: 25px;
        margin: 25px 0px;
    }
}

.gallery-headline{
  display: flex;
  justify-content: center;
  align-items: center;
  font: $font;
}