*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: $nav-color;
}

body{
    position: relative;
    padding-bottom: 200px;
    min-height: 100vh;
    background-color: $bg-color;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

ul{
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.icons{
    font-size: 40px;
    text-align: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

