.home-blob{
    width: 100%;
    max-width: 400px;
    height: auto;
}

.welcome-page{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    align-items: center;
    h1{
        font-size: 72px;
    }
    
}
.text-card {
    width: 45%;
    margin: auto;
    margin-bottom: auto;

}
 
.welcome-page-description{
    padding: 40px;
    border-radius: 20% 100px;
    background-color: #A3B4A2;
    
}