.listen_main{
    width: 50%;
}

.listen_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listen_headline{
    margin: 40px;
    font-size: 72px;
    text-align: center;
}

.album_name{
    font-size: 23px;
}

.spotify_frame{
    width: 70%;
    height: 500px;
    margin: 20px;
}

#listen_wrapper{
    flex-direction: column;
}

@media (max-width: 767.98px) {
    .listen_headline{
        font-size: 25px;
    }
    .listen_section{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .listen_main{
        width: 100%;
    }

    .spotify_frame{
        width: 70%;
    }

    .album_name{
        font-size: 17px;
    }
}