.listen_main{
    width: 50%;
}

.listen_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listen_headline{
    margin: 40px;
    font-size: 50px;
}

.album_name{
    font-size: 23px;
}

.spotify_frame{
    width: 40%;
    height: 500px;
    margin: 20px;
}

#listen_wrapper{
    flex-direction: column;
}

