.tours_main{
    width: 50%;
}

.tours_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tours_headline{
    margin: 0px 0px 30px 0px;
}