@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$nav-color: #38686A;
$bg-color: #CDC6AE;
$font-color: #000000;
$font: "Poppins", sans-serif;
$font-size: "16px"
